name: Go

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:

jobs:
  test:
    name: Test
    strategy:
      matrix:
        mysql-image:
          - mysql/mysql-server:5.5
          - mysql/mysql-server:5.6
          - mysql/mysql-server:5.7
          - mysql/mysql-server:8.0
          - mariadb:5.5
          - mariadb:10.0
          - mariadb:10.1
          - mariadb:10.2
          - mariadb:10.3
          - percona/percona-server:5.6
          - percona/percona-server:5.7
          - percona/percona-server:8.0
          - percona:5.5
          - percona:5.6
          - percona:5.7
          - percona:8.0
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ github.workspace }}/go.mod

      - name: Run checks
        run: |
          go build -modfile=tools/go.mod -o bin/golangci-lint github.com/golangci/golangci-lint/cmd/golangci-lint
          go build -modfile=tools/go.mod -o bin/reviewdog github.com/reviewdog/reviewdog/cmd/reviewdog
          bin/golangci-lint run -c=.golangci-required.yml --out-format=line-number | env REVIEWDOG_GITHUB_API_TOKEN=${{ secrets.GITHUB_TOKEN }} bin/reviewdog -f=golangci-lint -level=error -reporter=github-pr-check
          bin/golangci-lint run -c=.golangci.yml --out-format=line-number | env REVIEWDOG_GITHUB_API_TOKEN=${{ secrets.GITHUB_TOKEN }} bin/reviewdog -f=golangci-lint -level=error -reporter=github-pr-review

      - name: Run Tests
        run: |
          docker compose up -d
          make all
          make test
        env:
          MYSQL_IMAGE: ${{ matrix.mysql-image }}

      - name: Run debug commands on failure
        if: ${{ failure() }}
        run: |
          env
          go version
          go env
          pwd
          git status
          docker --version
          docker compose --version
